
<div class="homeContainer">

  <div class="banner">
    <div class="logoAndDesc">
      <img src="../../../assets/assets/spderman2.png" alt="">
      <h1>Sejam Melhores Juntos</h1>
      <p>Peter Parker e Miles Morales estão de volta em mais uma aventura eletrizante da famosa franquia Marvel's Spider-Man, disponivel no dia 20 de Outubro para PS5.</p>
      <button>Saiba Mais</button>
    </div>
    <img class="imgBanner" src="../../../assets/assets/spiderman2" alt="" width="100%">

  </div>

  <app-card
    gameCover="../../../assets/assets/ac-cover.jpg"
    gamePrice="89,99"
    gameTitle="Assasin's Creed: Deluxe Edition"
    gameType="PS5,PS4,PS3"
    gameLabel="Backwards Compatibility"
  ></app-card>
  <app-card
    gameCover="../../../assets/assets/8YdK4x6G4L9EGpgWPkiPVj8y.webp"
    gamePrice="399,99"
    gameTitle="God of War: Digital Deluxe Edition"
    gameType="PS5"
    gameLabel="Exclusive"
  ></app-card>
  <app-card
    gameCover="../../../assets/assets/bt-5.jpg"
    gamePrice="169,99"
    gameTitle="Battlefield 5"
    gameType="PS5,PS4"
    gameLabel="Cross Play"
  ></app-card>
  <app-card
    gameCover="../../../assets/assets/bt-4.jpg"
    gamePrice="99,99"
    gameTitle="Battlefield 4"
    gameType="PS5,PS4"
    gameLabel="Cross Play"
  ></app-card>
    <app-card
    gameCover="../../../assets/assets/bt-bad-company-2.jpg"
    gamePrice="49,99"
    gameTitle="Battlefield: Bad Company 2"
    gameType="PS5,PS4,PS4"
    gameLabel="Cross Play"
  ></app-card>
  <app-card
    gameCover="../../../assets/assets/bt-1.jpg"
    gamePrice="99,99"
    gameTitle="Battlefiel 1"
    gameType="PS5, PS4"
    gameLabel="Cross Play"
  ></app-card>
</div>
