<div class="menuBar">
  <div class="menuBarLogo">
    <img
    src="../../../assets/assets/ps-logo.png"
    alt="Logo PSN"
    width="140px"
    height="30px"
    >
  </div>
  <div class="menuBarItems">
    <ul>
      <li><a href="">Novidades</a></li>
      <li><a href="">Coleções</a></li>
      <li><a href="">Ofertas</a></li>
      <li><a href="">PS5</a></li>
      <li><a href="">Assinatura</a></li>
      <li><a href="">Navegar</a></li>
    </ul>
  </div>
  <div class="blankspace"></div>
</div>
